@keyframes ball-movement{
    0%{
        left:calc(1rem + 5px);
        top:calc( 50% - 12.5px);
    }
    25%{
        left:calc( 50% - 12.5px);
        top:0;
    }
    50%{
        left:calc( 100% - 30px - 1rem );
        top:calc( 50% - 12.5px);
    }
    75%{
        left:calc( 50% - 12.5px);
        top:calc( 100% - 25px);
    }
    100%{
        left:calc(1rem + 5px);
        top:calc( 50% - 12.5px);
    }
}

@keyframes bar-1-movement{
    0%{
        top:calc(50% - 25px)
    }
    25%{
        top:0;
    }
    50%{
        top:calc( 50% - 12.5px);
    }
    75%{
        top:calc( 100% - 50px);
    }
    100%{
        top:calc( 50% - 25px);
    }
}

@keyframes bar-2-movement{
    0%{
        top:calc( 50% - 12.5px);
    }
    25%{
        top:calc( 100% - 50px);
    }
    50%{
        top:calc( 50% - 12.5px);
    }
    75%{
        top:0;
    }
    100%{
        top:calc( 50% - 12.5px);
    }
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
}

.playing-area{
    width:800px;
    height:400px;
    border:5px solid green;
    background-color:rgba(0,255,0,.1);
    background-image:url("https://images.unsplash.com/photo-1567459169668-95d355371bda?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8Z3Jhc3N8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
    background-size:cover;
    background-position: center;
    padding: 1rem;
    position: relative;
    .bar{
        width:5px;
        height:50px;
        position: absolute;
        &.bar-1{
            background-color:red;
            top:calc(50% - 25px);
            animation:bar-1-movement 5s linear infinite;
        }
        &.bar-2{
            background-color:blue;
            top:1rem;
            right:1rem;
            animation:bar-2-movement 5s linear infinite;
        }
    }
    .ball{
        width:25px;
        height:25px;
        background-color:cyan;
        border-radius: 50%;
        position:absolute;
        left:22px;
        top:calc( 50% - 12.5px);
        animation-name:ball-movement;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        //box-shadow:3px 3px 10px 10px #acacac;
    }
}